.about-heading{
   background: url(https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg) no-repeat center center;
    background-size: cover;
    animation: slideIn 1s ease-in-out;
    background-attachment: local,scroll;
}

.about .about-heading h1{
    display: flex;
    align-content: center;
    justify-content: center;
    color: aliceblue;
    transform: scrollY(100px);
}