.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Dark overlay for readability */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.2)
    );
    z-index: 2;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
    will-change: opacity;
}

/* Active image */
.slider img.active {
    opacity: 1;
}
.slider img {
    transform: scale(1.05);
    transition: opacity 2.5s ease-in-out, transform 8s ease;
}

.slider img.active {
    opacity: 1;
    transform: scale(1);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 3;
    padding: 0 20px;
}

.hero-content a{
    text-decoration: none;
}

.hero-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #ff6600;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.hero-btn:hover{
    background-color: #b74c06;
}